/**
 * CRMNGP form styles
 */
.crmngp-form .amount-choices .amount, .crmngp-form .amount-choices #edit-amount-wrapper {margin-left:0.6em;}
.crmngp-form .amount-choices .amount label {display:none;}

#crmapi-contact-form {width:100%; text-align:center;}
#crmapi-contact-form .form-item {text-align:left;}
.crmngp-onecol {width:275px; margin:0 auto;  line-height:normal;}
.crmngp-twocol {width:590px; margin:0 auto;  line-height:normal;}

.crmngp-form #crmngp-left, .crmngp-form #crmngp-right {float:left; width:295px; overflow:hidden;}
.crmngp-form #crmngp-left .inner {padding-right:20px;}

.crmngp-form #crmngp-footer {width:100%; height:65px; text-align:center;}

#user-register fieldset.collapsible .form-item, .crmngp-form .form-item {float:left; margin:0 0 6px 0;}
/*.crmngp-form .form-required {display:none;}*/
.crmngp-form .form-item {overflow:visible;}
.crmngp-form .description {margin:0; color:inherit;}
.crmngp-form p, .crmngp-form ol {margin-bottom:5px;}
.crmngp-form ol {padding-left:20px; margin-left:5px;}
.crmngp-column p, .crmngp-column li {font-size:8pt; text-align:left; line-height:normal;}
.crmngp-form fieldset {margin:0 0 18px 0; padding:0 !important; border:0; background-color:transparent;}
.crmngp-form legend {padding:0; margin:0 0 9px 0; font-size:11pt; font-weight:bold; border:0; background-color:transparent; text-align:left;}
.crmngp-form label {font-weight:bold; font-size:9pt; overflow:visible;}
.crmngp-form .form-radios label {white-space:nowrap;}
.crmngp-form .volunteer .form-item {clear:both; width:100%;}

.crmngp-form .form-radios label, .crmngp-form .form-radios input {vertical-align:middle;}
.crmngp-form input.form-radio {margin-top:0; top:0;}

#edit-prefix-wrapper {width:100% !important;}
.crmngp-form .amount-choices {clear:both;}
.crmngp-form .amount-choices label {margin-right:10px; white-space:nowrap;}
/*.crmngp-form .amount-choices input.form-radio {margin-right:-2px;}*/

#user-register fieldset.collapsible fieldset.contact, #user-register fieldset.collapsible fieldset.volunteer {width:261px;}
#user-register fieldset.collapsible .form-text, .crmngp-form .form-text {width:266px; padding:3px;}
/*
#user-register fieldset.collapsible #edit-last-name, #user-register fieldset.collapsible #edit-address1, #user-register fieldset.collapsible #edit-zip, #user-register fieldset.collapsible #edit-email {margin-right:100px;}
*/

#user-register fieldset.collapsible #edit-first-name, #user-register fieldset.collapsible #edit-last-name, #user-register fieldset.collapsible #edit-city, #user-register fieldset.collapsible #edit-occupation, #user-register fieldset.collapsible #edit-employer, .crmngp-form #edit-first-name, .crmngp-form #edit-last-name, .crmngp-form #edit-city, .crmngp-form #edit-occupation, .crmngp-form #edit-employer {width:125px;}
#user-register fieldset.collapsible #edit-state, .crmngp-form #edit-state {width:60px;}
#user-register fieldset.collapsible #edit-state-wrapper, .crmngp-form #edit-state-wrapper {position:relative; z-index:100; width:68px; overflow:visible;}
#user-register fieldset.collapsible #edit-zip, .crmngp-form #edit-zip {width:57px;}
#user-register fieldset.collapsible #edit-zip-wrapper, .crmngp-form #edit-zip-wrapper {width:58px; overflow:visible;}
#user-register fieldset.collapsible #edit-zip-wrapper label, .crmngp-form #edit-zip-wrapper label {white-space:nowrap;}

.crmngp-form #edit-cvv-wrapper {clear:both;}
.crmngp-form #edit-cvv {width:41px;}

.crmngp-form #edit-credit-card-number {width:140px;}
.crmngp-form #edit-credit-card-number-wrapper .description {width:132px; overflow:visible;}
.crmngp-form #edit-credit-card-number-wrapper .description .inside {width:auto; white-space:nowrap;}

.crmngp-form #edit-amount {width:50px;}
.crmngp-form #edit-exp-month {width:65px; padding:1px;}
.crmngp-form #edit-exp-year {width:65px; padding:1px;}

.crmngp-form #edit-recurring-enable-true-wrapper {clear:both;}
.crmngp-form .recurring {clear:both;}
.crmngp-form .recurring-choices > .form-item {float:none;}
.crmngp-form .recurring-choices {display:block; position:relative; width:251px; margin-bottom:10px;}
.crmngp-form .recurring input, .crmngp-form .recurring select, .crmngp-form #edit-amount, .crmngp-form .amount-choices input {position:relative; z-index:100;}
.crmngp-form #edit-recurring-term-wrapper {clear:left;}
.crmngp-form #edit-recurring-term-wrapper label {display:none;}
.crmngp-form #edit-recurring-select-wrapper {clear:left;}
.crmngp-form .recurring-choices .form-radios > .form-item {clear:left;}
.crmngp-form .recurring-choices label {display:none;}
.crmngp-form .recurring-choices label.option {display:inline; white-space:nowrap;}
.crmngp-form .recurring-dates {position:absolute; right:0; bottom:0;}
.crmngp-form #edit-exp-month-wrapper label, .crmngp-form #edit-exp-year-wrapper label {white-space:nowrap;}

#user-register fieldset.collapsible #edit-first-name, #user-register fieldset.collapsible #edit-city, #user-register fieldset.collapsible #edit-state, #user-register fieldset.collapsible #edit-occupation, #user-register fieldset.collapsible #edit-amount, #user-register fieldset.collapsible #edit-credit-card-number, #user-register fieldset.collapsible #edit-exp-month, .crmngp-form #edit-first-name, .crmngp-form #edit-city, .crmngp-form #edit-state, .crmngp-form #edit-employer, .crmngp-form #edit-amount, .crmngp-form #edit-credit-card-number, .crmngp-form #edit-exp-month {margin-right:8px;}


.form-checkboxes .form-item {width:100%; clear:both;}

.crmngp-form #edit-submit {margin:10px; font-weight:bold; font-size:18pt;}

.clear-both {clear:both;}